@charset "UTF-8";
@keyframes tourne {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #3e8b7e;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  border: solid #eb678f;
  background-color: white;
  border-radius: 30px;
  width: 80%;
  max-width: 70rem;
  margin: 1rem auto;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #6e346a;
}

@font-face {
  font-family: "Font Awesome 5";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 empty";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: "Font Awesome 5 brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg");
}
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.submit-btn {
  background-color: #FFD7D7;
  box-shadow: 2px 2px 14px #a71818;
  border-radius: 30px;
  padding: 0.3rem 1rem;
  margin: 1rem;
  transition: 300ms ease-in;
}
.submit-btn:hover {
  transform: scale(1.3);
}

.arrow-up {
  display: none;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.arrow-up.appears {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-up div {
  color: white;
}
.arrow-up div::before {
  content: "\f077";
  font-family: "Font Awesome 5";
  font-weight: 900;
  font-size: 2.4rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.message-pop, .userComment-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 120vw;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 130, 91, 0.7);
}
.message-pop__field, .userComment-popup__field {
  background-color: white;
  margin: 3% auto;
  width: 80%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  border: solid black;
}
@media screen and (max-width: 400px) {
  .message-pop__field, .userComment-popup__field {
    width: 90%;
  }
}
.message-pop__field div, .userComment-popup__field div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-pop__field__form {
  width: 80%;
}
.message-pop__field__text {
  width: 90%;
  min-height: 3rem;
  border: solid 1px #3e8b7e;
  margin: 0.5rem auto;
}
.message-pop__field__text label {
  margin-left: 1rem;
}
.message-pop__field__text input {
  width: 60%;
  margin-left: 1rem;
}
.message-pop__field__text textarea {
  margin: 1rem 1rem;
  width: auto;
  min-width: 15rem;
}
.message-pop__field__image {
  display: flex;
  align-items: center;
  margin: 0.5rem auto;
  transition: 300ms ease-out;
}
.message-pop__field__image::before {
  content: "\f302";
  font-family: "Font Awesome 5";
  font-weight: 900;
  font-size: 2rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #eb678f;
  margin: 0.5rem;
}
.message-pop__field__image:hover {
  transform: scale(1.2);
}

#image-field {
  display: flex;
  justify-content: space-around;
}

.alert-popup, .confirm-popup {
  position: fixed;
  width: 100%;
  height: 120vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 215, 215, 0.9);
}
.alert-popup__window, .confirm-popup__window {
  background-color: #a71818;
  color: white;
  width: 40vw;
  min-height: 12rem;
  margin: 16% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .alert-popup__window, .confirm-popup__window {
    width: 60vw;
  }
}
.alert-popup__window__btn {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: solid #3e8b7e;
  color: #3e8b7e;
  background-color: white;
  text-shadow: 1px 1px 1px #3e8b7e;
  border-radius: 30px;
  box-shadow: 2px 2px 8px #3e8b7e;
  width: 10vw;
  height: 3vw;
}

.confirm-popup {
  background-color: #3e8b7e;
}
.confirm-popup__window {
  color: black;
  background-color: #FFD7D7;
  border-radius: 30px;
  border: solid;
}
.confirm-popup__window__btn {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: solid #3e8b7e;
  color: #3e8b7e;
  background-color: white;
  text-shadow: 1px 1px 1px #3e8b7e;
  border-radius: 30px;
  box-shadow: 2px 2px 8px #3e8b7e;
  width: 10vw;
  height: 3vw;
}

.password-window {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #eb678f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appear {
  display: block;
}

#message-alert {
  text-align: center;
  margin: 1rem;
}

.footer {
  margin: 0 auto 2rem;
  width: 80%;
  max-width: 60rem;
}
.footer__social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .footer__social {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .footer__social {
    flex-direction: column;
  }
}
.footer__social li {
  color: white;
  border-radius: 30px;
  height: 1.5rem;
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 0;
  font-size: 1rem;
}
.footer__social li a {
  color: white;
}
@media screen and (max-width: 768px) {
  .footer__social li {
    padding-top: 0.2rem;
  }
}
@media screen and (max-width: 400px) {
  .footer__social li {
    margin-bottom: 1rem;
  }
}
.footer__social li:nth-child(1) {
  background-color: black;
  display: flex;
}
.footer__social li:nth-child(2) {
  background-color: #FF4019;
}
.footer__social li:nth-child(2)::before {
  content: "\f281";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin: 1rem;
}
.footer__social li:nth-child(3) {
  background-color: #6441A5;
}
.footer__social li:nth-child(3)::before {
  content: "\f1e8";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.4em;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin: 1rem;
}
.footer__social li:nth-child(4) {
  background-color: #3b5998;
}
.footer__social li:nth-child(4)::before {
  content: "\f09a";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.4em;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin: 1rem;
}
.footer__social li:nth-child(5) {
  background-color: #00acee;
}
.footer__social li:nth-child(5)::before {
  content: "\f081";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin: 1rem;
}
.footer__social li:nth-child(6) {
  background: linear-gradient(49.2deg, #f9ed32 10%, #ee2a7b 55%, #002aff);
}
.footer__social li:nth-child(6)::before {
  content: "\e055";
  font-family: "Font Awesome 5 brands";
  font-weight: 400;
  font-size: 1.6rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin: 1rem;
}
.footer__social li:nth-child(n) {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 8px #a71818;
  transition: 500ms ease-in-out;
}
.footer__social li:nth-child(n):hover {
  transform: scale(1.4);
}
.footer__social__9gag, .footer__social__reddit {
  width: 1.1rem;
  margin: 0 1rem;
}
.footer__social__9gag img, .footer__social__reddit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer__social__reddit {
  width: 1.5rem;
}
.footer__mentions-legales {
  margin: 1rem auto;
  border: solid red;
  background-color: white;
  height: 3rem;
  overflow: scroll;
}
.footer__mentions-legales h2 {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
}

.header {
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 0 auto;
}
.header__logo {
  position: relative;
  width: 6rem;
  height: 6rem;
  transition: 400ms ease-in;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__logo:hover {
  transform: scale(1.3);
}
.header__logo:hover::before {
  opacity: 0.8;
  transition: opacity 0.8s;
}
.header__logo::before {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  font-family: sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-shadow: none !important;
  font-size: 1.2rem !important;
  background: #eb678f;
  border-radius: 30px;
  color: #fff;
  content: "Fil d'actualité";
  padding: 0.8rem 1rem;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
  top: 1vw;
  left: 6vw;
}
.header__notification {
  display: flex;
  color: #6e346a;
}
.header__notification div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
.header__notification div::after {
  content: "\f0f3";
  font-family: "Font Awesome 5";
  font-weight: 900;
  font-size: 2rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #eb678f;
}
.header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header nav ul li {
  margin: 1rem;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-icon:hover::before {
  opacity: 0.8;
  transition: opacity 0.8s;
}
.user-icon::after {
  content: "\f007";
  font-family: "Font Awesome 5";
  font-weight: 900;
  font-size: 3rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: 3rem;
  color: #eb678f;
}
.user-icon::before {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  font-family: sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-shadow: none !important;
  font-size: 1.2rem !important;
  background: #eb678f;
  border-radius: 30px;
  color: #fff;
  content: "Profil";
  padding: 0.8rem 1rem;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
  top: 3vw;
  right: 25vw;
}

.loader {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #eb678f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__anim {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__logo {
  width: 30%;
  margin: 2rem;
}
@media screen and (max-width: 768px) {
  .loader__logo {
    width: 50%;
  }
}
.loader__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader.hidden {
  animation: fadeOut 3s forwards;
}

/* Animation 1 */
.anim1 {
  position: absolute;
  width: 30%;
  padding-top: 30%;
  border: 2rem solid rgb(128, 128, 128);
  border-color: #FFD7D7 transparent #FFD7D7 transparent;
  border-radius: 50%;
  animation: tourne 1.2s linear infinite;
}
@media screen and (max-width: 768px) {
  .anim1 {
    width: 45%;
    padding-top: 45%;
  }
}
@media screen and (max-width: 400px) {
  .anim1 {
    width: 50%;
    padding-top: 50%;
  }
}
@media screen and (max-width: 768px) {
  .anim1 {
    border-width: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .anim1 {
    border-width: 0.5rem;
  }
}

.anim4 > div {
  background: #3e8b7e;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  animation: threePointsGrow 1.2s infinite ease-in-out alternate;
}
.anim4 .bounce1 {
  animation-delay: -0.3s;
}
.anim4 .bounce2 {
  animation-delay: -0.15s;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.login__form {
  background-color: #FFD7D7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: solid black;
  width: 60%;
  max-width: 32rem;
  margin: 3rem auto;
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .login__form {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .login__form {
    width: 100%;
  }
}
.login__form .submit-btn {
  margin: 1rem auto 0;
}
.login__form__field {
  width: 80%;
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
}
.login__form__field label {
  width: 8rem;
}
.login__form__field input {
  display: block;
  width: 80%;
}
.login__logo {
  width: 60%;
}
.login__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.invalid {
  border: solid red;
}

.valid {
  border: solid green;
}

.profil {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
}
.profil span {
  text-align: center;
}
.profil__photo {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.5rem;
  border: solid #3e8b7e;
}
.profil__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profil__photo.mini {
  width: 4vw;
  height: 4vw;
  border: none;
}

.comments {
  background: url(../assets/Groupomania_Logos/icon.png) fixed no-repeat;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.comments__btn, .user-comment__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  min-height: 3rem;
  border-radius: 30px;
  margin: 0.5rem auto;
  border: solid #3e8b7e;
}
.comments__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  border-top: solid #eb678f;
}
.comments__card__profil {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  background-color: white;
  border-radius: 30px;
  border: solid #3e8b7e;
  margin: 0.5rem auto;
}
.comments__card__profil div {
  margin: 0 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.comments__card__profil div p {
  margin: 0 1rem;
  font-size: 0.8rem;
}
.comments__card__profil div h3 {
  margin: 0.5rem;
}
.comments__card__profil h4 {
  font-size: 0.8rem;
  margin: 0 1rem 0 1rem;
  padding: 0.5rem 1rem;
}
.comments__card__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.comments__card__field p {
  width: 90%;
  border: solid #3e8b7e;
  padding: 1rem;
  margin-top: 0;
  background-color: white;
}
.comments__card__field__answer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.comments__card__field__answer p {
  width: 60%;
}
.comments__card__field__answer h4 {
  margin: 0 1rem;
}

.user-comment {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.user-comment__like, .user-comment__like__true {
  margin: 0 0 0.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 400ms ease-in-out;
}
.user-comment__like::before, .user-comment__like__true::before {
  content: "\f164";
  font-family: "Font Awesome 5";
  font-weight: 900;
  font-size: 1.7rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: rgb(184, 184, 184);
  margin: 0.5rem 0.5rem 0.5rem 0;
  text-shadow: 0px 0px 4px black;
}
.user-comment__like:hover, .user-comment__like__true:hover {
  transform: scale(1.8);
}
.user-comment__like__true::before {
  content: "\f164";
  font-family: "Font Awesome 5";
  font-weight: 900;
  font-size: 1.7rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #eb678f;
  margin: 0.5rem 0.5rem 0.5rem 0;
  text-shadow: 0px 0px 4px black;
}
.user-comment__btn {
  margin: 0;
  height: 2rem;
  width: fit-content;
  padding: 0 1rem;
}

.users__likes {
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users__likes::before {
  content: "\f164";
  font-family: "Font Awesome 5";
  font-weight: 900;
  font-size: 1.7rem;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #eb678f;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  text-shadow: 0px 0px 4px black;
}

.publication-photo {
  z-index: 99;
  width: 20%;
  height: 20%;
  margin: 1rem;
  transition: transform 400ms ease-in-out;
}
@media screen and (max-width: 768px) {
  .publication-photo {
    width: 80%;
    height: 80%;
  }
}
.publication-photo img {
  object-fit: cover;
}
.publication-photo:hover {
  transform: scale(3);
}
@media screen and (max-width: 768px) {
  .publication-photo:hover {
    transform: none;
  }
}

.publication-video {
  margin: 1rem;
  width: 40vw;
  height: 26vw;
}

#comment-btn {
  position: relative;
  transition: transform 400ms ease-out;
}
#comment-btn:hover {
  transform: scale(1.2);
}
#comment-btn:hover::before {
  opacity: 0.8;
}
#comment-btn::before {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  font-family: sans-serif !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-shadow: none !important;
  font-size: 1.2rem !important;
  background: #eb678f;
  border-radius: 30px;
  color: #fff;
  content: "C'est à vous !";
  padding: 0.8rem 1rem;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
  top: 0.5vw;
  left: 5vw;
}

/*# sourceMappingURL=style.css.map */
