@keyframes tourne {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    50%{
        opacity: 1;
    }
    100%{
       opacity: 0;
       visibility: hidden;
       display: none;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}