$breakpoint-mobile: 400px;
$breakpoint-ipad: 768px;

$primary-color: #3e8b7e;
$secondary-color: #FD2D01;
$third-color: #FFD7D7;
$fourth-color: #44a081;
$fifth-color: #a71818;
$sixth-color: #eb678f;
$seventh-color: #6e346a;
$eight-color: rgb(0, 130, 91);

$facebook-color: #3b5998;
$bandcamp-color: #629aa9;
$youtube-color: #c4302b;
$linkedin-color: #007BB5;
$twitter-color: #00acee;
$snapchat-color: #FFFC00;
$tiktok-aqua: #00f2ea;
$tiktok-red: #ff0050;
$reddit-color: #FF4019;
$twitch-color: #6441A5;

$btn-width: 10vw;
$btn-height: 3vw;