.submit-btn {
    background-color: $primary-color;
    box-shadow: 2px 2px 8px black;
    @include borderRadius;
    color: white;
    padding: .3rem 1rem;
    margin: 1rem;
    transition: 300ms ease-in;
    &:hover {
        transform: scale(1.3);
    }
    a {
        color: white;
    }
}

.arrow-up {
    @include flexCenter;
    text-align: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0,0,0,.7);
    div {
        color: white;
        &::before {
            @include icon('\f077', 2.4rem);
        }
    }
}