.submit-btn {
    background-color: $third-color;
    @include btn-shadow;
    @include borderRadius;
    padding: .3rem 1rem;
    margin: 1rem;
    transition: 300ms ease-in;
    &:hover {
        transform: scale(1.3);
    }
}

.arrow-up {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0,0,0,.7);
    &.appears {
        @include flexCenter;
    }
    div {
        color: white;
        &::before {
            @include icon('\f077', 2.4rem);
        }
    }
}