.footer {
    margin: 0 auto 2rem;
    width: 80%;
    max-width: 60rem;
    &__social {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @include tablette-version {
            width: 90%;
        }
        @include mobile-version {
            flex-direction: column;
        }
        li {
            color: white;
            a {
                color: white;
            }
            border-radius: 30px;
            height: 1.5rem;
            background-color: white;
            padding: .5rem 1rem .5rem 0;
            @include tablette-version {
                padding-top: .2rem;
            }
            @include mobile-version {
                margin-bottom: 1rem;
            }
            font-size: 1rem;
            &:nth-child(1) {
                background-color: black;
                display: flex;
            }
            &:nth-child(2) {
                background-color: $reddit-color;
                &::before {
                    @include iconBrands("\f281", 1.5rem);
                }
            }
            &:nth-child(3) {
                background-color: $twitch-color;
                &::before {
                    @include iconBrands('\f1e8');
                }
            }
            &:nth-child(4) {
                background-color: $facebook-color;
                &::before {
                    @include iconBrands;
                }
            }
            &:nth-child(5) {
                background-color: $twitter-color;
                &::before {
                    @include iconBrands("\f081", 1.5rem);
                }
            }
            &:nth-child(6) {
                @include instagramColor;
                &::before {
                    @include iconBrands("\e055", 1.6rem);
                }
            }
            &:nth-child(n) {
                margin: .5rem;
                display: flex;
                align-items: center;
                @include btn-shadow(4px, 4px, 8px);
                transition: 500ms ease-in-out;
                &:hover {
                    transform: scale(1.4); 
                }
            }      
        }
        &__9gag {
            width: 1.1rem;
            margin: 0 1rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__reddit {
            @extend .footer__social__9gag;
            width: 1.5rem;
        }
    }
    &__mentions-legales {
        margin: 1rem auto;
        border: solid red;
        background-color: white;
        height: 3rem;
        overflow: scroll;
        h2 {
            margin: .5rem 1rem;
            font-size: 1.2rem;
        }
    }
}