.header {
    padding: 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 60rem;
    margin: 0 auto;
    &__logo {
        position: relative;
        width: 6rem;
        height: 6rem;
        img {
            @include imageFit;
            filter: drop-shadow(1px 1px 2px black);
        }
        transition: 400ms ease-in;
        &:hover {
            transform : scale(1.3);
            &::before {
                opacity: .8;
                transition: opacity .8s;
            }
        }
        &::before {
            @include textBulle('Fil d\'actualité');
            position: absolute;
            top: 3rem;
            left: 5rem;
        }
        
    }
    &__notification {
        display: flex;
        color: $seventh-color;
        div {
        @include flexCenter;       
        width: 5rem;
        height: 5rem;
            &::after {
            @include icon("\f0f3", 2rem);
            color: $sixth-color;
            }
        }
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        ul {
          li {
            margin: 1rem;
          }  
        }
    }
}

.user-icon {
    @include flexCenter;
    position: relative;
    &:hover::before {
        opacity: .8;
        transition: .8s;
    }
    &:hover::after {
        filter: drop-shadow(3px 4px 2px $seventh-color);
    }
    &::after {
        @include icon;
        font-size: 3rem;
        color: $sixth-color;
        transition: filter .2s linear;
    }
    &::before {
        @include textBulle('Profil');
        position: absolute;
        right: 3rem;
    }
    
    
}