.loader {
    z-index: 99;
    position: fixed;
    @include positionTopLeft;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $sixth-color;
    @include flexCenter;
    &__anim {
        width: 80%;
        height: 80%;
        @include flexCenter;
    }
    &__logo {
        width: 30%;
        @include tablette-version {
            width: 50%;
        }
        margin: 2rem;
        img {
            @include imageFit;
        }
    }
}

.loader.hidden {
    animation: fadeOut 3s forwards;
}

/* Animation 1 */

.anim1 {
    position: absolute;
    width: 30%;
    padding-top: 30%;
    @include tablette-version {
        width: 45%;
        padding-top: 45%;
    }
    @include mobile-version {
        width: 50%;
        padding-top: 50%;
    }
    border: 2rem solid rgb(128,128,128);
    @include tablette-version {
        border-width: 1rem;
    }
    @include mobile-version {
        border-width: .5rem;
    }
    border-color: $third-color transparent $third-color transparent;
    border-radius: 50%;
    animation: tourne 1.2s linear infinite;
}

.anim4 {
    > div {
        background: $primary-color;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        display: inline-block;
        animation: threePointsGrow 1.2s infinite ease-in-out alternate;
    }
    .bounce1 {
        animation-delay: -.3s;
    }
    .bounce2 {
        animation-delay: -.15s;
    }
}