.comments {
    background: url(../assets/Groupomania_Logos/icon.png) fixed no-repeat;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    &__btn {
        @include flexCenter;
        background-color: white;
        width: 80%;
        //ATTENTION PROPORTIONS
        min-height: 3rem;
        @include borderRadius;
        margin: .5rem auto;  
        border: solid $primary-color;
    }
    &__card {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        border-top: solid $sixth-color;      
        &__profil {
            width: 85%;
            background-color: white;
            @include borderRadius;
            border: solid $primary-color;
            margin: .5rem auto;
            div {
                margin: 0 1rem;
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-items: center;
                p {
                    margin: 0 1rem;
                    font-size: .8rem;
                }
                h3 {
                    margin: .5rem;
                }
            }
            h4 {
                font-size: .8rem;
                margin: 0 1rem 0 1rem;
                padding: .5rem 1rem;
            }
        }
        &__field {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 1rem;
            p {
                width: 90%;
                border: solid $primary-color;
                padding: 1rem;
                margin-top: 0;
                background-color: white;
            }
        }
    }
}

.user-comment {
    display: flex;
    justify-content: space-around;
    width: 100%;
    &__like {
        width: 3rem;
        height: 3 rem;
        margin: 0 0 .5rem 2rem;
        @include flexCenter;
        transition: transform 400ms ease-in-out;
        &::before {
            @include icon('\f164', 1.7rem);
            color: rgb(184, 184, 184);
            margin: .5rem .5rem .5rem 0;
            text-shadow: 0px 0px 4px black; 
        }
        &:hover {
            transform: scale(1.8);
        }        
    }
    &__btn {
        @extend .comments__btn;
        margin: 0;
        height: 2rem;
        width: fit-content;
        padding: 0 1rem;
    }
}

.users__likes {
    width: 3rem;
    height: 3 rem;
    margin: 0 0 .5rem 1rem;
    @include flexCenter;
    &::before {
        @include icon('\f164', 1.7rem);
        color: $sixth-color;
        margin: .5rem .5rem .5rem 0;
        text-shadow: 0px 0px 4px black; 
    }
}

.publication-photo {
    display: none;
}